<div class="container">
<div class="row">
<form class="form-horizontal" action="/answer">
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label">Speak to your coach</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="question" name="q" placeholder="what time is it?">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">Go on!</button>
    </div>
  </div>
</form>
</div>
</div>

